body{
    font: 20px Arial, sans-serif
}
.navbar{
    background-color: #9dce8b;
}
.quem-somos{
    background-color: rgb(110, 110, 202);
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: #A9E2F3;
}
.bg-footer{
    background-color: black;
    color: white;
}